<div class="result">
	<p>You picked: <%= appdata.player %> </p>
	<p>Computer picked: <%= appdata.ai %> </p>
	<p><%= appdata.message %> </p>
	<p>Outcome: <%= appdata.outcome %> </p>
	<p>Wins: <%= appdata.wins %> </p>
	<p>Losses: <%= appdata.losses %> </p>
	<p>Ties: <%= appdata.ties %> </p>
      
</div>